@font-face {
    font-family: snakeFont;
    src: url(fonts/snake.ttf);
}

.app-bg {
    background-color: #282c34;
    height: 100%;
    min-width: 100%;
}
html,
body,
#root,
.App {
    height: 100%;
}
#root {
    display: grid;
    place-items: center;
}
.full-height {
    height: 100%;
}
body {
    background-color: #282c34;
    overscroll-behavior: contain;
}
.App-link {
    color: #61dafb;
}
.border {
    border: #61dafb 1px solid;
    border-radius: 5px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 1px 80px rgba(0, 0, 0, 0.12);
}
.titleContainer {
    width: 80%;
    padding-right: 10px;
}
.scoreContainer {
    width: 20%;
    padding-left: 10px;
}
.title {
    font-family: snakeFont;
    font-weight: bold;
    color: #fff;
    font-size: 45pt;
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.score {
    font-family: snakeFont;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 40pt;
    width: 100%;
    min-height: 50px;
    height: 50px;
    user-select: none;
}
.best-score {
    font-family: snakeFont;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15pt;
    width: 100%;
    min-height: 30px;
    height: 30px;
    user-select: none;
    position: relative;
    top: -1px;
}
.subTitle {
    color: rgb(167, 167, 167);
}
.game-board {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-size: 20pt;
    width: 100%;
}
.gameover-overlay {
    height: 400px;
    position: relative;
    top: -424px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34a5;
}
.game-over-text {
    font-family: snakeFont;
    font-weight: bold;
    text-shadow: 2px 2px #000;
    font-size: 100pt;
    color: #61dafb;
    user-select: none;
}
.menu-overlay {
    height: 400px;
    position: relative;
    top: -424px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
}
.snakeButton {
    cursor: pointer;
    font-family: snakeFont;
    font-weight: bold;
    font-size: 25pt;
    color: #61dafb;
    padding: 15px 10px;
    border-radius: 10px;
    border: 0.5px solid #61dafb;
    background-color: #282c34;
    user-select: none;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 1px 80px rgba(0, 0, 0, 0.12);
}
.snakeButton:hover {
    color: #282c34;
    background-color: #61dafb;
}
.board-cell {
    display: flex;
    width: 40px;
    min-width: 40px;
    height: 40px;
}
.snake-body {
    background-color: #ccddff;
    width: 90%;
    height: 90%;
}
.snake-head {
    background-color: #ccddff;
    border-radius: 45%;
    width: 90%;
    height: 90%;
}
.snake-food {
    width: 90%;
    height: 90%;
    display: block;
}
.snake {
    background: url(./img/snake.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.blueberry {
    background: url(./img/blueberry.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.cherry {
    background: url(./img/cherry.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.grapes {
    background: url(./img/grapes.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.raspberry {
    background: url(./img/raspberry.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.strawberry {
    background: url(./img/strawberry.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.invert {
    transform: scaleX(-1);
}
.fork {
    position: absolute;
    right: 25px;
    top: 20px;
    opacity: 0.5;
    transition: opacity ease-in 0.1s;
}
.fork:hover {
    opacity: 1;
}
.fork:active {
    opacity: 0.3;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Mobile */
@media (min-width: 0) {
    .container {
        width: 293px;
        height: 324px;
    }
    .board-cell {
        width: 14.5px;
        height: 14.5px;
        min-width: 14.5px;
    }
    .snake-body {
        border-radius: 3px;
        width: 90%;
        height: 90%;
    }
    .game-board {
        width: 296px;
    }
    .menu-food {
        width: 30px;
        height: 30px;
    }
    .gameover-overlay,
    .menu-overlay {
        height: 218px;
        top: -240px;
    }
    .game-over-text {
        font-size: 40pt;
    }
    .snakeButton {
        font-size: 15pt;
        padding: 6px 10px;
    }
    .scoreContainer {
        width: 30%;
    }
    .best-score {
        font-size: 14pt;
    }
    .subTitle {
        font-size: 12pt;
    }
}
/* Desktop */
@media (min-width: 969px) {
    .container {
        width: 602px;
        height: 555px;
    }
    .snake-body {
        border-radius: 10px;
        width: 90%;
        height: 90%;
    }
    .board-cell {
        width: 30px;
        min-width: 30px;
        height: 30px;
    }
    .game-board {
        width: 604px;
    }
    .menu-food {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }
    .gameover-overlay,
    .menu-overlay {
        height: 450px;
        top: -472px;
    }
    .game-over-text {
        margin-bottom: 20px;
        font-size: 80pt;
    }
    .snakeButton {
        font-size: 25pt;
    }
    .best-score {
        font-size: 18pt;
    }
    .subTitle {
        font-size: 14pt;
    }
}